.featured {
  height: 200px;
}

img {
  object-fit: cover;
  height: 600px;
  width: 100%;
}

.slide-img {
  display: block;
  width: 100%;
  height: 100%;
}

.feature-img {
  display: block;
  width: 500px;
  height: 500px;
}